# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.dynamicForms
.claude
.claude-old
.continue.vite
.continue
.vite
.vs
.vscode
private_tools
.env
database/dcsVite.sqlite3
uploads/
public/dcsVite.sqlite3
dist1
.els
scripts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
